

    <header class="header_in">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div id="logo-detail">
              <a href="#">
                <img src="assets/imagens/logo_siberius.png" width="165" height="40" alt="" class="logo_sticky">
              </a>
              <ul id="top_menu">
                  <li><a href="#" class="btn_add">Login</a></li>
                </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </header>
    <!-- /header -->
