<app-navbar></app-navbar>

<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class="text-center  mt-4" style="margin-top: 10px">
          <img src="assets/imagens/buscar-eventos.svg" width="46" alt="Buscar Eventos">
        </div> -->
        <h1 class="display-5 text-center text-white mt-4 black-40">Encontre os Eventos</h1>

        <div class="text-center">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" name="evento" class="input-text" placeholder="Busque seu Evento">

              <button name="button" class="button-icon">
                <span class="button-icon--text">
                  Pesquisar
                </span>
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</header>

<div class="container">
  <app-evento-list></app-evento-list>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark container-margin-top">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
