<!-- Header with Background Image -->
<!-- Header with Background Image
<header class="business-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 style="margin-top:100px" class="display-5 text-center text-white black-40" *ngIf="evento?.nome">{{evento?.sigla}} - {{evento?.nome}}</h2>
        <div class="text-center">
          <p style="color: #FFFFFF">{{evento?.descricao}}</p>
          <a class="btn hero-btn" href="http://localhost:4200/evento/{{evento?.id}}/minha-inscricao" role="button">Faça sua inscrição</a>
        </div>
      </div>

    </div>
  </div>
</header>
-->

<div id="page" class="theia-exception">
<app-header-detail></app-header-detail>
</div>

<main>
		<div class="text-center">
      <img src="assets/imagens/1b.jpg"  width="100%"/>
			<div class="wrapper">
			</div>
    </div>
    <!--/hero_in-->

    <div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-8">
						<section id="description">
							<div class="detail_title_1">
								<h1>{{evento?.sigla}} - {{ evento?.nome }}</h1>
								<a class="address" href="#" >{{evento?.local}}</a>
              </div>
              <span class="hero-info-title">De {{dateLayout(evento?.inicioInscricao) }} a {{dateLayout(evento?.fimInscricao) }}</span>

							<p  *ngIf="evento?.conteudo">{{evento?.conteudo}}</p>

						</section>
						<!-- /section -->

					</div>
          <!-- /col -->

          <aside class="col-lg-4" id="sidebar">
              <div class="box_detail booking">
                  <div class="price">
                      <h3 class="d-inline">Faça sua inscrição</h3>
                 </div>
                 <div class="text-center">
                    <a class="add_top_30 btn_1 full-width purchase" id="submit-contact-detail" href="http://localhost:4200/evento/{{evento?.id}}/minha-inscricao" role="button">Inscrever</a>
                </div>
              </div>


              <div class="box_detail booking">
                <div class="price">
                  <h5 class="d-inline">Contato</h5>
               </div>
                <div id="message-contact-detail"></div>
                <form method="post" action="assets/contact_detail.php" id="contact_detail" autocomplete="off">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" name="name_detail" id="name_detail">
                    <i class="ti-user"></i>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email" name="email_detail" id="email_detail">
                    <i class="icon_mail_alt"></i>
                  </div>
                  <div class="form-group">
                    <textarea placeholder="Your message" class="form-control" name="message_detail" id="message_detail"></textarea>
                    <i class="ti-pencil"></i>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Contact us" class="add_top_30 btn_1 full-width purchase" id="submit-contact-detail">
                  </div>
                </form>
              </div>
              <ul class="share-buttons">
                <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
                <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Tweet</a></li>
                <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
              </ul>
            </aside>

				</div>
				<!-- /row -->
		</div>
		<!-- /container -->

</main>

