<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 style="margin-top:100px" class="display-5 text-center text-white black-40" *ngIf="evento?.nome">{{evento?.sigla}} - {{evento?.nome}}</h2>
        <div class="text-center">
          <p style="color: #FFFFFF">{{evento?.descricao}}</p>
          <a class="btn hero-btn" href="http://localhost:4200/evento/{{evento?.id}}/minha-inscricao" role="button">Faça sua inscrição</a>
        </div>
      </div>

    </div>
  </div>
</header>

<div class="container">

  <section class="hero-info">

    <div class="hero-info-box-item col-3w certificados">
      <a href="#">
        <span class="hero-info-icon">
          <svg version="1.1" id="icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 341.6 287.5" style="enable-background:new 0 0 341.6 287.5;" xml:space="preserve">
            <path class="st0 calendar" d="M271,72H68.7c-3.1,0-5.7,2.5-5.7,5.7c0,3.1,2.5,5.7,5.7,5.7l0,0H271c3.1,0,5.7-2.5,5.7-5.7
C276.7,74.5,274.2,72,271,72z"></path>
            <path class="st0 calendar" d="M271,111.7H68.7c-3.1,0-5.7,2.5-5.7,5.7c0,3.1,2.5,5.7,5.7,5.7l0,0H271c3.1,0,5.7-2.5,5.7-5.7
C276.7,114.2,274.2,111.7,271,111.7z"></path>
            <path class="st1 calendar" d="M294.4,7.9H44.8C25,7.9,8.9,24,8.9,43.8v181.6C9,245.1,25,261.2,44.8,261.2h28.4v-26.3H44.8
c-5.2,0-9.5-4.3-9.5-9.5V43.8c0-5.2,4.3-9.5,9.5-9.5h249.6c5.2,0,9.5,4.3,9.5,9.5v181.6c0,5.2-4.3,9.5-9.5,9.5h-14.1l-10.3-0.1
l-3.8,0v26.3l14.2,0.1h12.8c20.8,0,37.1-15.8,37.2-35.9V43.8C330.3,24,314.2,7.9,294.4,7.9z"></path>
            <g>
              <path class="st2 calendar" d="M171.5,252.2c-26.6,0-48.2-21.6-48.2-48.2c0-26.6,21.6-48.2,48.2-48.2c26.6,0,48.2,21.6,48.2,48.2l0,0
C219.7,230.6,198.2,252.2,171.5,252.2z M171.5,164.9c-21.6,0-39.1,17.5-39.1,39.1c0,21.6,17.5,39.1,39.1,39.1s39.1-17.5,39.1-39.1
c0,0,0,0,0,0C210.6,182.4,193.1,164.9,171.5,164.9z"></path>
              <path class="st3 calendar calendar" d="M159.1,245c-2-1.6-4.9-1.2-6.4,0.8l-21.6-9.7l3.6-4.6c1.5-2,1.2-4.9-0.8-6.4c-2-1.5-4.9-1.2-6.4,0.8
l-23.9,30.9c-0.8,1-1.1,2.4-0.9,3.6c0.5,2.5,2.8,4.1,5.3,3.7L125,261l1.3,1.1l1.5,17.5c0.2,2.4,2.2,4.2,4.6,4.2
c1.4,0,2.7-0.6,3.6-1.8l23.9-30.6C161.5,249.4,161.1,246.5,159.1,245z"></path>
              <path class="st3 calendar calendar" d="M183.2,245c2-1.6,4.9-1.2,6.4,0.8l21.6-9.7l-3.6-4.6c-1.5-2-1.2-4.9,0.8-6.4c2-1.5,4.9-1.2,6.4,0.8l23.9,30.9
c0.8,1,1.1,2.4,0.9,3.6c-0.5,2.5-2.8,4.1-5.3,3.7l-17.1-3.1l-1.3,1.1l-1.5,17.5c-0.2,2.4-2.2,4.2-4.6,4.2c-1.4,0-2.7-0.6-3.6-1.8
l-23.9-30.6C180.9,249.4,181.2,246.5,183.2,245z"></path>
              <circle class="st3 calendar calendar" cx="171.5" cy="204" r="16.2"></circle>
            </g>
            <circle class="st1 calendar" cx="73.2" cy="248" r="13.2"></circle>
            <circle class="st1 calendar" cx="266.2" cy="248" r="13.2"></circle>
          </svg>
        </span>
      </a>
      <span class="hero-info-title">Certificados</span>
      <span class="hero-info-description">
        <a href="#">
          Clique aqui para baixar </a>
      </span>
    </div>

    <div class="hero-info-box-item col-3w data-hora">
      <span class="hero-info-icon">
        <svg xmlns="http://www.w3.org/2000/svg" id="Camada_1" version="1" viewBox="123.1 16.7 44.1 46">
          <path d="M163.5 20.6h-6.3v-1.9c0-1.1-.9-2-2-2s-2 .9-2 2v1.9h-16v-1.9c0-1.1-.9-2-2-2s-2 .9-2 2v1.9h-5.6c-2.2 0-4.5 1.3-4.5 3.5v34.3c.2 2.4 2 4.3 4.5 4.3h36c2.2 0 3.7-2 3.7-4.3V24.1c0-2.2-1.5-3.5-3.8-3.5zm-36.7 4.3h5.9v2c0 1.1.9 2 2 2s2-.9 2-2v-2h16v2c0 1.1.9 2 2 2s2-.9 2-2v-2h5.9v7.6h-36.2v-7.6h.4zm0 33.5V36.5H163V36l.4 22.4h-36.6z"
            class="calendar"></path>
        </svg>
      </span>
      <span class="hero-info-title">De {{dateLayout(evento?.inicioInscricao) }} a {{dateLayout(evento?.fimInscricao) }}</span>
      <!-- <span class="hero-info-description">Todos os dias das 00h às 00h</span> -->
    </div>

    <div class="hero-info-box-item col-3w local">
      <a href="#map">
        <span class="hero-info-icon">
          <svg xmlns="http://www.w3.org/2000/svg" id="Camada_1" viewBox="222.8 17.4 34.4 46">
            <path d="M240 63.4c-1 0-2-.4-2.6-1.1-.6-.6-14.6-15.8-14.6-27.7 0-9.5 7.7-17.2 17.2-17.2s17.2 7.7 17.2 17.2c0 11.9-13.9 26.9-14.6 27.7-.6.7-1.6 1.1-2.6 1.1zm0-43.4c-8.2 0-14.6 6.6-14.6 14.6 0 10.9 13.8 25.8 13.9 25.9.4.4 1.1.4 1.6 0 .1-.1 13.9-14.9 13.9-25.9-.2-8-6.6-14.6-14.8-14.6zm0 21.6c-4.2 0-7.6-3.4-7.6-7.6s3.4-7.6 7.6-7.6 7.6 3.4 7.6 7.6c0 4.3-3.4 7.6-7.6 7.6zm0-12.6c-2.7 0-5 2.3-5 5s2.3 5 5 5 5-2.3 5-5-2.3-5-5-5z"
              class="pin"></path>
          </svg>
        </span>
      </a>
      <!-- <span class="hero-info-title">Belém, PA</span> -->
      <span class="hero-info-description">{{evento?.local}}</span>
    </div>

  </section>

  <section class="text-box" id="about" *ngIf="evento?.conteudo">
    <div class="container">
      <div class="col-md-12">
        <h3 class="section-title">Sobre o Evento</h3>
        <article class="text-box-content">
          <p>{{evento?.conteudo}}</p>
        </article>
      </div>
    </div>
  </section>


  <section class="local" id="#map" *ngIf="evento?.local">
    <h3 class="section-title">Local</h3>
    <div class="container">
      <div>
        <address class="text-center">{{evento?.local}}</address>
      </div>
    </div>

  </section>
</div>
