<!-- Header with Background Image -->
<!-- Header with Background Image
<header class="business-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 style="margin-top:100px" class="display-5 text-center text-white black-40" *ngIf="evento?.nome">{{evento?.sigla}} - {{evento?.nome}}</h2>
        <div class="text-center">
          <p style="color: #FFFFFF">{{evento?.descricao}}</p>
          <a class="btn hero-btn" href="http://localhost:4200/evento/{{evento?.id}}/minha-inscricao" role="button">Faça sua inscrição</a>
        </div>
      </div>

    </div>
  </div>
</header>
-->

<main>
		<div class="hero_in hotels_detail">
			<div class="wrapper">
			</div>
    </div>
    <!--/hero_in-->

    <div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-8">
						<section id="description">
							<div class="detail_title_1">
								<h1>{{evento?.sigla}} - {{ evento?.nome }}</h1>
								<a class="address" href="#" >{{evento?.local}}</a>
              </div>
              <span class="hero-info-title">De {{dateLayout(evento?.inicioInscricao) }} a {{dateLayout(evento?.fimInscricao) }}</span>

							<p  *ngIf="evento?.conteudo">{{evento?.conteudo}}</p>

						</section>
						<!-- /section -->


							<div class="add-review">
								<h5>Entre em Contato</h5>
								<form>
									<div class="row">
										<div class="form-group col-md-6">
											<label>Nome Completo *</label>
											<input type="text" name="name_review" id="name_review" placeholder="" class="form-control">
										</div>
										<div class="form-group col-md-6">
											<label>Email *</label>
											<input type="email" name="email_review" id="email_review" class="form-control">
										</div>
										<div class="form-group col-md-12">
											<label>Assunto:</label>
											<textarea name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
										</div>
										<div class="form-group col-md-12 add_top_20 add_bottom_30">
											<input type="submit" value="Submit" class="btn_1" id="submit-review">
										</div>
									</div>
								</form>
							</div>
					</div>
					<!-- /col -->

				</div>
				<!-- /row -->
		</div>
		<!-- /container -->

</main>

