.custom-search-input {
  outline: 0!important;
  border: none;
  height: 50px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 30px;
  background-color: #f7f9fc;
  color: #7e8891;
  transition: all .3s;
}

.black-40 {
color: rgba(0,7,20,.4);
}

.input-text {
outline: 0!important;
width: 33%;
border: none;
height: 55px;
padding: 0 30px;
font-size: 18px;
border-radius: 30px;
background-color: #f7f9fc;
color: #7e8891;
transition: all .3s;
float: left;
margin-left: 33%;
}

.button-icon {
width: 55px;
height: 55px;
-ms-flex-negative: 0;
flex-shrink: 0;
outline: 0!important;
cursor: pointer;
display: inline-block;
font-size: 16px;
border-radius: 30px;
line-height: 1;
color: #fff;
background-color: red;
padding: 15px 20px;
border: none;
float: left;
margin-left: 10px;
}

.button-icon .button-icon--text {
display: none;
}


.business-header {
height: 25vh;
min-height: 250px;
background-color: #00b0eb;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
margin-bottom: 50px;
}


.hero-btn {
  background-color: #fff;
  text-transform: uppercase;
  color: #919298;
  font-weight: 600;
  padding: 15px 50px;
  letter-spacing: 1px;
  -webkit-transition: box-shadow .2s ease-in-out,color .2s ease-in-out;
  transition: box-shadow .2s ease-in-out,color .2s ease-in-out;
}

.modal .speaker-title, .section-title {
  display: block;
  color: #009039;
  font-weight: 600;
  font-size: 28px;
  position: relative;
  margin-top: 56px;
  text-align: center;
}

.text-box {
  text-align: center;
}

.section-title:after {
  content: "";
  height: 6px;
  background-color: #009039;
  position: relative;
  display: block;
  width: 73px;
  margin: 24px auto 56px;
}

.text-box p {
  color: #000000;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 30px;
}
