.left-menu-header {
    min-width: 257px;    
}

.custom-search-input {
    float: left;
    width: 85%;
    margin-left: 10px;
    margin-top: -20px;
    overflow: hidden;
    color: red;
    flex-wrap: nowrap;
}

.mat-icon {
    float: left;
    vertical-align: middle;
    margin-top: -4px !important;
}

// ajuste da posição do texto de ajuda dos campos de pesquisa
.custom-search-input .mat-input-placeholder {
    margin-top: 0.2em;
    margin-left: 0.1em;
    font-style: italic !important;
    overflow: hidden;
}

// ajuste da posição dos campos de pesquisa
.custom-search-input .mat-input-infix {
    margin-top: 0.45em;
    margin-left: 0.5em;
    overflow: hidden;
}

.bgc-white {
    background: white !important;
}

.titulo-secao {
    font-size: 20px;
    font-family: proxima_novasemibold,Helvetica,serif;
}

.custom-search-input {
    outline: 0!important;
    border: none;
    height: 50px;
    padding: 0 30px;
    font-size: 15px;
    border-radius: 30px;
    background-color: #f7f9fc;
    color: #7e8891;
    transition: all .3s;
}
