<div class="row">
  <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let evento of eventoPage.content">
    <div class="card h-100">
      <a href="#">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
      </a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{ evento?.nome }}</a>
        </h4>
        <p class="card-text">Inicio do Evento: {{ dateLayout(evento?.inicioEvento) }}</p>
        <p class="card-text">Fim do Evento: {{ dateLayout(evento?.fimEvento) }}</p>
        <p class="card-text">{{ evento?.descricao }}</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
</div>
