.left-menu-header {
    min-width: 257px;
}

.custom-search-input {
    float: left;
    width: 85%;
    margin-left: 10px;
    margin-top: -20px;
    overflow: hidden;
    color: red;
    flex-wrap: nowrap;
}

.mat-icon {
    float: left;
    vertical-align: middle;
    margin-top: -4px !important;
}

// ajuste da posição do texto de ajuda dos campos de pesquisa
.custom-search-input .mat-input-placeholder {
    margin-top: 0.2em;
    margin-left: 0.1em;
    font-style: italic !important;
    overflow: hidden;
}

// ajuste da posição dos campos de pesquisa
.custom-search-input .mat-input-infix {
    margin-top: 0.45em;
    margin-left: 0.5em;
    overflow: hidden;
}

.bgc-white {
    background: white !important;
}

.titulo-secao {
    font-size: 20px;
    font-family: proxima_novasemibold,Helvetica,serif;
}

.custom-search-input {
    outline: 0!important;
    border: none;
    height: 50px;
    padding: 0 30px;
    font-size: 15px;
    border-radius: 30px;
    background-color: #f7f9fc;
    color: #7e8891;
    transition: all .3s;
}

.black-40 {
  color: rgba(0,7,20,.4);
}

.input-text {
  outline: 0!important;
  width: 85%;
  border: none;
  height: 50px;
  padding: 0 30px;
  border-radius: 5px;
  background-color: #f7f9fc;
  color: #7e8891;
  transition: all .3s;
  float: left;
  margin-bottom: 30px;
  border: 1px solid  #e2e2e2;
}

.button-icon {
  width: 13%;
  height: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  outline: 0!important;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  line-height: 1;
  color: #fff;
  background-color: #009039;
  border: none;
  margin-left: 2%;
}


.business-header {
  height: 25vh;
  min-height: 200px;
  background-color: #00b0eb;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}


/****
*card-area
*****/

.single-card {
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);

}

.single-card h3 {
  font-size: 18px;
}


.single-card .card-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.single-card .card-meta li {
  display: inline-block;
  margin-right: 15px;
}

.single-card .card-meta li span {
  margin-right: 5px;
}

.single-card .card-content {
  padding: 40px 20px;
  background-color: #ffffff
}

/**
cards
*/

.hero-info {
  position: relative;
  float: left;
  width: 100%;
  margin-top: -100px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-info-box-item {
  background-color: #fff;
  display: block;
  float: left;
  padding: 20px 30px;
  width: 100%;
  margin: 0 15px 40px;
}

.hero-info-title {
  font-weight: 600;
  font-size: 19px;
}

.hero-info-description {
  font-size: 15px;
  font-weight: 200;
}

.hero-info-icon {
  width: 65px;
  height: 65px;
  border: 3px solid #000000;
  border-radius: 100%;
  float: left;
  text-align: center;
  font-size: 25px;
  line-height: 56px;
  margin-right: 20px;
  display: block;
}

.hero-info-icon svg {
  height: 28px;
  width: auto;
  position: relative;
  top: 6px;
}

.hero-info-description, .hero-info-title {
  float: left;
  color: #919298;
  display: block;
  width: calc(100% - 85px);
}

.hero-info-description, .hero-info-title {
  float: left;
  color: #919298;
  display: block;
  width: calc(100% - 85px);
}

.icon-search {
  display: none;
}

@media (max-width: 991px){
.hero-info-box-item {
    padding: 25px 30px 40px;
}
.button-icon .button-icon--text {
  display: none;
}
.icon-search {
  display: inline;
}
}

@media (max-width: 768px) {
  .hero-info-box-item {
    width: calc(100% - 30px)!important;
}
.hero-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: baseline;
}
.button-icon .button-icon--text {
  display: none;
}
.icon-search {
  display: inline;
}
}

