<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-white bg-white overflow-visible shadow-3 fixed-top" style="height: 65px;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img [routerLink]="['/']" src="assets/imagens/small-logo.png" class="je-logo" style="width: 32px;  margin-right: 10px; cursor: pointer;"> Plataforma de Gestão de Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Informações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <div style="margin-right: 10px; margin-left: 10px;">
        <!-- <a href="#" class="btn btn-success text-white">Cadastrar -->
          <!-- <span class="glyphicon glyphicon-user img-circle text-primary btn-icon"></span> -->
        <!-- </a> -->
      </div>
      <div>
        <a href="http://localhost:4200/" class="btn btn-primary btn-custom text-white">Minha Conta</a>
      </div>
    </div>
  </div>
</nav>
